/*page principale*/

body {
    padding: 0px;
    margin: 0px;
}


/*Background du site*/

.conteneur {
    width: 100%;
    height: 535px;
    background-image: url('Images/img-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}


/*=====================================================================*/


/*Entete*/

header {
    display: flex;
    flex-direction: column;
    background: #0B5345;
    justify-content: space-between;
}

.titre {
    font-weight: normal;
    text-align: center;
    color: white;
}


/*Logo LI3*/

.logo {
    width: 8%;
    height: 100px;
    float: left;
    position: absolute;
}


/*Page de connexion*/

.ouverture {
    width: 30%;
    height: 300px;
    margin-left: 450px;
    margin-top: 2cm;
    padding-bottom: 30px;
}

#haut {
    width: 100%;
    height: 80px;
    border: 1px solid #4DD0E1;
    background-color: #4DD0E1;
}

#bas {
    width: 100%;
    height: 240px;
    border: 1px solid white;
    background-color: white;
}

#bouton {
    float: right;
    margin-top: -30px;
    margin-right: 15px;
    border-radius: 0rem;
}

#login {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 0.5cm;
    border-radius: 0px 5px 5px 0px;
}

#password {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 0;
    border-radius: 0px 5px 5px 0px;
}

#boutonconnecter {
    width: 25%;
    height: 50px;
    margin-left: 20px;
    text-decoration: white;
    color: white;
    background-color: #4DD0E1;
}

#image1 {
    width: 20px;
    height: 20px;
}

#image2 {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
    margin-left: 25px;
    color: black;
}